/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* ヘッダーのスタイル */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0.5em 0 0;
    font-size: 1.2em;
}

/* ナビゲーションメニューのスタイル */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

/* メインコンテンツのスタイル */
main {
    padding: 2em;
    background-color: white;
    max-width: 800px;
    margin: 2em auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* セクションのスタイル */
section {
    margin-bottom: 2em;
}

section h2 {
    color: #4CAF50;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

section p {
    font-size: 1.2em;
    margin: 0;
}

section img {
    display: block-inline;
    text-align: center;
    margin: 5%
}

/* フッターのスタイル */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    margin-top: 2em;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
